<footer class="footer">
    <div class="container">
        <nav class="nav-inline pull-right last-footer">
            <a href="/recherche" title="Rechercher dans L&#039;Avenir En Commun" id="last-footer--search"><i class="fa fa-fw fa-search" aria-hidden="true"></i><span class="hidden-xs"> Recherche</span></a>
            <span class="hidden-xs">·</span>
            <a href="https://discord-insoumis.fr/" title="Contacter LAEC.fr" id="last-footer--contact"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> Contact</a>
            <span class="hidden-xs">·</span>
            <a href="/page/mentions-legales" title="Mentions legales et politique de confidentialité" id="last-footer--legal"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i> Mentions<span class="hidden-xs"> légales / Données personnelles</span></a>
        </nav>
        <p class="text-muted">
            <small>
                <i class="fa fa-fw fa-coffee" data-special></i>
                <span class="hidden-xs"> Site à l'initiative du <a href="http://discord-insoumis.fr/" class="external" title="Découvrez le Discord Insoumis et ses nombreuses initiatives…">Discord Insoumis</a>.</span>
            </small>
        </p>
    </div>
</footer>