<header class="header">
    <nav class="header__nav">
      <a href="/"><img src="/static/frontpop_white_logo.png" alt="logo du nouveau front populaire" class="header__nav-home"></a>
  
      <div class="header__nav--group">
        <menu class="header__links">
          <li><a href="https://x.com/DiscordGauche" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="https://facebook.com/discordgauche" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="https://instagram.com/discord.barricade/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://youtube.com/@la_barricade/videos" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="https://tiktok.com/@distok_populaire" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
          <li><a href="https://twitch.tv/la_barricade" target="_blank"><i class="fa-brands fa-twitch"></i></a></li>
          <li><a href="https://discord.gg/barricade" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
        </menu>
    
        <div class="header__nav--search">
          <input type="search" name="" id="" placeholder="Économie, justice, écologie...">
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </nav>
  </header>
  