<aside class="step-aside-menu">
    <h2 class="step-aside-menu__title">Découvrez d'autres mesures</h2>
  
    <menu class="step-aside-menu__links">
      <li>
        <a href="/step">
          <h3>Faire une grande loi pour la santé<span class="arrow"></span></h3>
          <span class="step-aside-menu__links-background"></span>
        </a>
      </li>
      <li>
        <a href="/step">
          <h3>Faire une grande loi éducation<span class="arrow"></span></h3>
          <span class="step-aside-menu__links-background"></span>
        </a>
      </li>
      <li>
        <a href="/step">
          <h3>Entamer la planification écologique<span class="arrow"></span></h3>
          <span class="step-aside-menu__links-background"></span>
        </a>
      </li>
      <li>
        <a href="/step">
          <h3>Lutter contre toutes les formes de racismes, contre l'antisémitisme et l'islamophobie<span class="arrow"></span></h3>
          <span class="step-aside-menu__links-background"></span>
        </a>
      </li>
    </menu>
  </aside>