<aside class="col-md-4 col-md-push-8 aside-content-container">

  <a href="#contenu" id="scroll-to-contents" class="visible-xs-block visible-sm-block" data-do-scroll-to="300">Aller au
    texte</a>

  <ul role="navigation" id="side-navigation">

    <li class="hasard">
      <a title="Consulter une section du programme au hasard" data-load-display href="/hasard" class="no-outline"><i
          class="fa fa-fw fa-random" aria-hidden="true"></i> Au hasard !</a>
    </li>

    {% if book_navigation is defined %}
    <li class="heading"><span><i class="fa fa-fw fa-laec" aria-hidden="true"></i> Plan du livre</span></li>
    {# End of book #}

    {% if subject.entity == 'section'  and next is None %}

    <li>
      <label>Quoi, déjà ?</label>
      <a href="/fin" title="Même les meilleures choses ont une fin…" data-load-display><i class="fa fa-fw fa-arrow-right"
          aria-hidden="true"></i> Fin du livre</a>
    </li>

    {% endif %}
    {% if next %}
    <li{% if next.part_number != subject.part_number %} class="theme-part-{{ next.part_number }}"{% endif %}>
      <label>{{ next.desc }}</label>
      <a href="{{next.url}}{{next.number}}/{{next.slug}}" rel="{{ rel }}" title="{{ next.desc }}" data-load-display class="no-outline">
        <i class="fa fa-fw fa-arrow-right" aria-hidden="true"></i>
        {% if next.entity == 'section' %} {{ next.number }} . {{ next.title }}</a>   {% else %}
        <span class="alternate">{{ next.sub_title }} </span>{{ next.main_title }} </a>
        {% endif %}

    {% endif %}

    {% if prev %}
    <li{% if prev.part_number != subject.part_number %} class="theme-part-{{ prev.part_number }}"{% endif %}>
      <label>{{ prev.desc }}</label>
      <a href="{{prev.url}}{{prev.number}}/{{prev.slug}}" rel="{{ rel }}" title="{{ prev.desc }}" data-load-display class="no-outline">
      <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
        {% if  prev.entity == 'section' %} {{ prev.number }} . {{ prev.title }}</a>  {% else %}
        <span class="alternate"> {{ prev.sub_title }}  </span> {{ prev.main_title }} </a>
       {% endif %}
    </li>
    {% endif %}

    {% if subject.entity == 'section' %}
    <li><label>Préface de la partie</label><a href="/partie/{{subject.part.number}}/{{subject.part.slug}}" rel="contents" title="Préface de la partie" data-load-display="" class="no-outline">
      <i class="fa fa-fw fa-arrow-up" aria-hidden="true"></i>{{subject.part.title}}</a></li>

    {% else %}
    <li class="theme-part-0"><label>Retour au sommaire</label><a href="/sommaire" rel="contents" title="Retour au sommaire" data-load-display="" class="no-outline">
      <i class="fa fa-fw fa-list-ul" aria-hidden="true"></i>Table des matières</a></li>

    {% endif %}




  </ul>

  {% endif %}


</aside>
