<aside class="col-md-4 col-md-push-8 aside-content-container">
   <ul role="navigation" id="side-navigation">
      <li class="hasard" data-track-event="Navigation" data-event-action="Au hasard&nbsp;!" data-event-name="Navigation du contenu"
         title="" data-delay="{&quot;show&quot;:&quot;800&quot;, &quot;hide&quot;:&quot;50&quot;}" data-toggle="tooltip"
         data-original-title="Consulter une section du programme au hasard"><a data-li-tooltip="" data-load-display=""
            href="/hasard" class="no-outline"><i class="fa fa-fw fa-random" aria-hidden="true"></i> Au hasard !</a></li>
      <li class="heading"><span><i class="fa fa-fw fa-anchor" aria-hidden="true"></i> Accès rapide</span></li>
      <li><a href="#partie-1" title="Scroller versle chapitre" data-do-scroll-to="600" class="no-outline"><i
               class="fa fa-fw icon-part-1" aria-hidden="true"></i>15 premiers jours : LA RUPTURE </a></li>
      <li><a href="#partie-2" title="Scroller versle chapitre" data-do-scroll-to="800" class="no-outline"><i
               class="fa fa-fw icon-part-2 " aria-hidden="true"></i>100 premiers jours : L'ÉTÉ DES BIFURCATIONS</a></li>
      <li><a href="#partie-3" title="Scroller versle chapitre" data-do-scroll-to="1000" class="no-outline">
         <i class="fa fa-fw icon-part-3" aria-hidden="true"></i>Les mois suivants : LES TRANSFORMATIONS</a></li>

   </ul>

   <p class="sidelines" aria-hidden="true">
      <i class="fa fa-fw fa-phi"></i>
   </p>
   <p>Vous
      <strong>approuvez ce programme</strong> et souhaitez le voir appliqué&nbsp;?&nbsp;Alors soutenez le Nouveau Front Populaire
      dans ses initiatives&nbsp;!
   </p>
   <p>
      <a href="https://www.nouveaufrontpopulaire.fr/" class="external btn btn-primary btn-block"
         title="Soutenir le Nouveau Front Populaire ">Soutenir ce programme
         <i class="fa fa-fw fa-hand-o-right" aria-hidden="true"></i>
      </a>
   </p>
   <p class="sidelines" aria-hidden="true">
      <i class="fa fa-fw fa-phi"></i>
   </p>
</aside>
