<!DOCTYPE html>
<html class="page js not-logged-in theme-frontend {% block html_class %}{% endblock %} svg localstorage audio csstransitions document-ready" lang="fr">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <!-- Classe .js/.no-js https://www.paulirish.com/2009/avoiding-the-fouc-v3/ -->
        <script>
            (function (H) {
                H.className = H.className.replace(/\bno-js\b/, "js");
            })(document.documentElement);
        </script>


        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title> {% if title is None %}LAEC.fr - Le programme de Jean-Luc Mélenchon pour l'Union Populaire{% else %} {{title}} {% endif %} </title>
        <meta name="description" content="LAEC.fr (abréviation de « L'Avenir En Commun »), c'est le programme en ligne de Jean-Luc Mélenchon et de l'Union Populaire pour l'élection présidentielle de 2022." />
        <!-- Icônes et autres -->
        <script rel="preload" src="https://kit.fontawesome.com/5fa0e3eada.js" crossorigin="anonymous"></script>
        <link rel="apple-touch-icon-precomposed" href="https://{{ host }}/static/img/favicon-152.png" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/static/img/favicon-144.png" />
        <meta name="msapplication-tooltip" content="L'Avenir En Commun, le programme de Jean-Luc Mélenchon pour l'union populaire 2022 en version intégrale" />
        <!--<meta name="msapplication-config" content="/misc/ieconfig.xml" />-->
        <meta name="application-name" content="LAEC.fr" />
        <!-- Opensearch -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700;800&family=Barlow:wght@400;700;800&display=swap" rel="stylesheet">
        <!-- Meta social -->
        {% block card %}
        <meta property="og:site_name" content="LAEC.fr" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:type" content="{{entity}}" />
        <meta property="og:title" content= "{% if title is None %} LAEC.fr – Le programme de Jean-Luc Mélenchon pour 2022 {% else %} {{title}} {% endif %}" />
        <meta property="og:description" content="{% if description is None %} L'Avenir En Commun, le programme de Jean-Luc Mélenchon pour l'union populaire 2022 en version intégrale {% else %} {{ description }} {% endif %}" />
        <meta property="og:image" content="{% if subject is None or subject.shortlink == ''  %} https://{{ host }}/static/img/card.png{% else %}https://{{ host }}/static/visuels/{{subject.shortlink }}.png{% endif %}" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="628" />
        <meta property="og:url" content="{% if subject is None or subject.shortlink == None %} https://{{ host }}/ {%else% }
        https://{{ host }}/{{subject.shortlink }}{% endif %} " />
        <meta property="fb:app_id" content="secret" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@yourtwitterid" />
        {% endblock %}
        <!-- Feuilles de styles -->
        <link rel="preload stylesheet" as="style" href="/static/new_app.css" crossorigin="anonymous" type="text/css" />
        <link rel="preload stylesheet" as="style" href="/static/global_new_css.css" crossorigin="anonymous" type="text/css" />
        <link rel="preload stylesheet" as="style" href="/static/reset.css" crossorigin="anonymous" type="text/css" />


        {% block bhead %}{% endblock %}
    </head>
    {% block body %}{% endblock %}
</html>
