<section class="discord">
  <h2 class="discord__title">Le front populaire s'organise sur Discord</h2>

  <p>Le site a été entièrement conçu par des citoyens ayant rejoint le Discord du Front Populaire.<br/>Il reprend l'intégralité du programme officiel issu du contrat de législature du Nouveau Front Populaire.<br/>Rejoignez la mobilisation citoyenne sur Discord !</p>

  <a href="https://discord.gg/barricade" class="discord__button-link"><i class="fa-brands fa-discord"></i>Rejoindre le Discord</a>
</section>