{% extends 'base.html' %}
{% block html_class %}page-index page-aos{% endblock %}
{% block body %}
<style>
  hr {
    margin-top: 0px;
  }
</style>
<body id="body">
    <div class="wrap-all-visible-v2" style="padding-top:100px;">
        {% include "_navbar.html" %}

        <div class="wrap-container-main newhome">
            <section id="laec-def" class="container laec-def">
              <div class="row">
                <div class="col-md-12 content aos-init aos-animate" data-aos="fade-up"
                    data-aos-anchor-placement="center-bottom" data-aos-delay="200">

                <p>Le site <span class="violet-underline">LAEC.fr</span> est un service de communication au public en ligne qui est édité à titre non professionnel (au sens de l'article 6, III-2 de la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique).
                En accord avec les dispositions de l'article sus-cité, l'auteur de ces lignes a donc choisi de conserver l'anonymat.
                Ces informations ont toutefois été transmises à l'hébergeur de ce site qui saura les délivrer à qui de droit.</p></div></div>
                <div class="row">
                    <div class="col-md-12 offset-md-12 title">
                        Hébergeur
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 content aos-init aos-animate" data-aos="fade-up"
                        data-aos-anchor-placement="center-bottom" data-aos-delay="200">

                <p>Le prestataire technique qui assure l'hébergement de LAEC.FR est la société <span class="violet-underline"><a href="https://www.ovhcloud.com/">OVH</a></span>,
                dont le siège social se situe à <span class="violet-underline">Roubaix</span>.</p>

                <p>Société <span class="violet-underline"><a href="https://www.ovhcloud.com/">OVH</a></span>, 2 rue Kellermann 59100 Roubaix<br>
                Téléphone : <span class="violet-underline"><a href="tel:+33899701761">+33 8 99 70 17 61</a></span><br> </p></div></div>
                <div class="row">
                    <div class="col-md-12 offset-md-12 title">
                      Politique de confidentialité
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 offset-md-12 title2">
                        Statistiques et mesures d'audience
                      </div>
                </div>
                <div class="row">
                  <div class="col-md-12 content aos-init aos-animate" data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom" data-aos-delay="200">
                  <p> Nous n'utilisons pas d'outils de mesure d'audience.</p>
                  <p>Les logs de connexion du serveur sont conservés pour une durée de 14 jours conformément aux <span class="violet-underline">dispositions européennes</span> en matière de rétention de données.</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12 offset-md-12 title2">
                      Accès aux données
                      </div>
                </div>
                <div class="row">
                  <div class="col-md-12 content aos-init aos-animate" data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom" data-aos-delay="200">
                <p>Conformément à la loi Informatique et Libertés 78-17 du 6 janvier 1978 modifiée ainsi qu’au Règlement européen sur la protection des données (RGPD), vous bénéficiez d’un droit d’accès, de rectification, d’opposition et d’effacement de vos données personnelles ainsi que d’un droit à la limitation du traitement vous concernant.</p>
                <p>Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter par courrier électronique l’adresse suivante :  <span class="violet-underline"><a href="mailto:actions.insoumises@gmail.com">actions.insoumises@gmail.com</a>.</span></p>
                <p>Si vous estimez, après nous avoir contactés, que les droits dont vous disposez ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.</p>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12 offset-md-12 title2">
                      Litiges
                      </div>
                </div>
                <div class="row">
                  <div class="col-md-12 content aos-init aos-animate" data-aos="fade-up"
                      data-aos-anchor-placement="center-bottom" data-aos-delay="200">
                    <p>La loi applicable au présent contrat est la loi française. Dans toute hypothèse où un choix de loi serait possible, les parties conviennent que la loi applicable est la loi française.</p>
                  </div>
                </div>



            </section>
        </div>

        {% include '_footer.html' %}
    </div>
    <!--<script src="/static/app.js?damperate"></script>-->
</body>
{% endblock %}
