
{% extends 'base.html' %}

{% block html_class %} {% endblock %}
{% block body %}

<body id="body">
    {% include "_navbar.html" %}
<script>
function showModalKeyboard(event,number) {
  if (![' ', 'Enter'].includes(event.key)) return;
  event.preventDefault();
  showModal();
}

function showModal(number) {
  document.getElementById('step-modal-'+number).showModal();
}
</script>
<div class="step__layout">

<main class="step">
<div>
  <a href="/programme#tab2" class="step__back-link"><h2>{{ subject.part.title }}</h2></a>
  <h1 class="step__title">{{subject.title_high | safe}}</h1>
</div>

<div class="step__details">
  <div class="step__share">
    <p>Partager :</p>
    <a href="https://x.com/DiscordGauche" target="_blank"><i class="fa fa-x-twitter"></i></a>
    <a href="https://facebook.com/discordgauche" target="_blank"><i class="fa  fa-facebook"></i></a>
    <button><i class="fa fa-solid fa-link"></i></button>
  </div>

  <p>{{ subject.forewords | safe | linebreaksbr }}</p>

  {% for measure in subject.measures %}

  <div id="mesure-{{measure.number}}" class="step__text" tabindex="0"  role="button" onclick="showModal({{measure.number}})" onkeypress="showModalKeyboard(event,{{measure.number}})"  data-measure-seq ="{{measure.number}}" data-target="#modal-measure-{{measure.number}}" >
    <p>{{measure.text_high | safe }}</p>
    <span class="step__text-background"></span>
  </div>
  {% endfor %}
  
</main>
<script>
  function closeModalOnBackdropClick(event) {
    const dialog = event.target;
    const dialogArea = dialog.getBoundingClientRect();
    const isClickInDialog = dialogArea.top <= event.clientY
                            && event.clientY <= dialogArea.top + dialogArea.height 
                            && dialogArea.left <= event.clientX
                            && event.clientX <= dialogArea.left + dialogArea.width;
    if (!isClickInDialog) dialog.close();
  }
</script>

{% for measure in subject.measures %}

<!-- ignore les deux commentaires ci-dessous -->
<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<dialog class="step-dialog" id="step-modal-{{measure.number}}"  onclick="closeModalOnBackdropClick()">
  <form class="step-dialog__content" method="dialog">
    <div>
      <h2 class="step-dialog__subtitle">{{subject.part.title}}</h2>
      <h1 class="step-dialog__title">{{subject.title}}</h1>
    </div>

    <div>
      <div class="step-dialog__text">
        <p>{{measure.text_high | safe }}</p>
      </div>
    
      <div class="step-dialog__share">
        <p>Partager :</p>
        <a href="https://x.com/DiscordGauche" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://facebook.com/discordgauche" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <button><i class="fa-solid fa-link"></i></button>
      </div>
    </div>
  
  
    <button class="step-dialog__close-button"></button>
  </form>
  <span class="step-dialog__background"></span>
</dialog>
{% endfor %}


{% include "_section_sidebar.html" %}

</div>


{% include '_footer.html' %}

</body>

{% endblock %}