{% extends 'base.html' %}
{% block body %}

<body id="body">
   {% include "_navbar.html" %}


   {% block head_navigation %}
   <link rel="start" href="/">
   {% endblock head_navigation %}

   {% block jumbotron %}

   <div class="jumbotron">
      <form class="container form-total-loading form-instant-search" action="/recherche">
         <div class="input-group">
            <span class="input-group-btn">
               <button class="search-addon" type="submit" title="Effectuer une recherche sur « L'avenir en commun »">
                  <i class="fa fa-fw fa-search" aria-hidden="true"></i>
                  <span class="sr-only">Rechercher</span>
               </button>
            </span>
            <input type="text" autocomplete="off" class="search-terms form-control instant-search" name="termes"
               value=" Votre recherche ici : {{ search_terms|upper|truncatechars:20 }}">
         </div>
         <p class="sidelines" aria-hidden="true">
            <i class="fa fa-search"></i>
         </p>
         <span class="search-results-count"
            data-prototype="<strong>__total__</strong> occurence__plural__ pour « <strong>__query__</strong> » dans « {{ site_long_name }} »">
            {% if no_search is defined %}<i class="fa fa-fw fa-lightbulb-o" aria-hidden="true"></i> Pourquoi ne pas
            essayer
            ci-dessus des termes tels que <strong class="suggestion">' ~ suggestions|shuffle|slice(0,
               4)|join('</strong>, <strong class="suggestion">') ~ '</strong> , etc. {% else %} Nous avons trouvé
            <strong>{{ search_results|length }}</strong>
            {%if search_results|length > 1 %} occurences {% else %} occurences {% endif %} pour « <strong>{{ search_terms|truncatechars:20 }}</strong> » dans « L'Avenir En Commun ».{% endif %}</span>
      </form>
   </div>
   {% endblock jumbotron %}

   {% block main_content %}
   <div class="wrap-container-main">
      <div class="container container-main">
         <div class="row">
            <h1 class="h3">
               <i class="fa fa-fw fa-hand-o-right" aria-hidden="true"></i> Liste des résultats
            </h1>
            <hr>

            {% if no_search is defined %}
            <p class="lead no-search">
               Pour commencer à rechercher dans le programme, merci de saisir les termes de votre recherche ci-dessus
            </p>
            {% endif %}

            <p class="lead no-results {% if no_search is defined or search_results|length != 0 %} hidden{% endif %}">
               Votre requête n'a produit aucun résultat. Merci d'en vérifier l'orthographe ou d'essayer de la formuler
               différemment.
            </p>


            <ul id="resultats" class="list-group search-results">
               {% for result in search_results %}
               {% include 'result.html' %}
               {% endfor %}
            </ul>

            <p class="sidelines" aria-hidden="true">
               <i class="fa fa-fw fa-search"></i>
            </p>
         </div>
      </div>
   </div>
   {% endblock main_content %}

   {% include '_footer.html' %}
   <div class="total-loading-backdrop">
      <div class="loading-animation">
         <div class="loading-bar"></div>
         <div class="loading-bar"></div>
         <div class="loading-bar"></div>
         <div class="loading-bar"></div>
      </div>
   </div>
</body>

</html>
{% endblock body %}